.rpv-core__inner-pages>div {
    height: 100% !important;
    overflow: scroll;
    -ms-overflow-style: none;
}

.rpv-core__inner-pages>div::-webkit-scrollbar {
    display: none !important;
}

.rpv-core__inner-page {
    width: 100% !important;
    padding: 15px 0;
}

.rpv-core__page-layer.rpv-core__page-layer--single {
    width: 97% !important;
}